@media screen and (max-width: 1000px) {
    .button-change-password{
        margin:7% 0 15% 0;
    }
}

.container-section-change-password{
    display: flex;
    justify-content: center;
}

.container-border-change-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    height: 70%;
    background: #301417;
    opacity: 0.8;
    border: 5px solid #fee580;
    border-radius: 3em;
    flex-wrap: wrap;
}

.container-position-settings-change-password{
    width: 100%;
}

.title-change-password{
    
    color: #fee580;
}

.color-white-title-password{
    color: white;
    font-family: "Headshot";
    font-size: 6vw;
    border-bottom: #fee580 3px solid;
    margin-top: 7%;
}

.position-input-change-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}




@media screen and (min-width: 1001px) {
    .position-input-change-password{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-top: 10%;
    }
    
    
    .container-border-change-password{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin-bottom: 11vh;
    }

    .color-white-title-password{
        font-size: 2.9vw;
        
    }


    .container-section-change-password{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .container-position-settings-change-password{
        width: 77.78%;
        margin-left: 0.78%;
    }

   .container-settings-change-password{
       width: 37.2%;
       text-align: start;
   }
   .ml-password{
    margin-left: 2.73%;
}
}